.keyboard{
    height: 220px;
    width: 100%;
    padding: 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }

  @media screen and (min-width: 992px){
    .keyboard{
      height: 345px;
    }
  }

