.letter{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    background: rgba(224, 224, 224, 0);
    width: 15%;
    height: 80%;
    font-size: 50px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.07),
    5px 5px 15px rgba(0, 0, 0, 0.521);
    border-radius: 15px;
}



.symbol, .symbol p{
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.visible{
    align-items: center;
}

@media screen and (min-width: 992px) {
    .letter {
        margin: 5px;
    }
    
}
