.popups {
    width: 100%;
    margin: 4% 0%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(243, 243, 243, 0);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.07),
    5px 5px 15px rgba(0, 0, 0, 0.521);
}


.win-message{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.reload-btn, .popup-input {
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.07), 5px 5px 15px rgba(0, 0, 0, 0.521);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup-input{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0% 10%;
}

.new-level-option{
    color: rgb(85, 81, 81);
}

.reload-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 2% 15%;
}

@media screen and (min-width: 992px) {
 .reload-btn {
     height: 100%;
 }
 
.popups {
    margin: 0;
    width: 50%;
    padding: 2%;
}

}