.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    width: 95%;
    color: white;
    font-family: 'Poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title h1 {
    font-size: 40px;
}

.title h2 {
    font-size: 18px;
}

.title h3 {
    margin-top: 1%;
    font-size: 10px;
    font-weight: 200;
}

@media screen and (min-width: 992px){
    .header {
        margin-top: 0;
        padding: 0;
    }
    
    .title{
        width: 100%;
    }

    .title h1 {
        font-size: 50px;
    }
    .title h2 {
        font-size: 20px;
    }
    .title h3 {
        font-size: 12px;
    }
}