*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(287.31deg, #1A1A27 60%, rgba(1, 1, 1, 0) 227.03%);
  height: 100%;
}

.pop-up-container {
  width: 80%;
}

.board-game{
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20%;
}

