*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(287.31deg, #1A1A27 60%, rgba(1, 1, 1, 0) 227.03%);
  height: 100%;
}

.main-container{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
}

.dashboard{
  height: 50%;
}

.board-game{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 5% 0% 10% 0%;
}

@media screen and (min-width: 992px){
  .dashboard{
    height: 60%;
  }

  .board-game{
    min-height: 100vh;
    padding: 0;
    align-items: center;
  }
}
